@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij</h1>
    <h1 class="display-4"><b>Wereld Schaak Weekend!</b></h1>
    <h4>Bekijk en wijzig partijen, zie linkjes bovenin het menu</h4>
    <img src="Img/VanKooten-reizen-hofleverancier.png" />
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
